body {
    background: #353535;
    padding: 40px;
    font-family: sans-serif;
}

.bento-grid {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 150px;
}

.item {
    background: #fff;
    border-radius: 20px;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}
.item1 {
    grid-column: span 1;
    grid-row: span 4;
}

.item2 {
    grid-column: span 2;
    grid-row: span 2;
}
.item4{
    grid-row: span 3;
}
.item5 {
    grid-column: span 2;
    grid-row: span 2;
}